# API Domain: api.resumatch.tnsvc.xyz
api.resumatch.tnsvc.xyz {
    reverse_proxy backend:8000
}

# Frontend Domain: resumatch.tnsvc.xyz
resumatch.tnsvc.xyz {
    # Update the port from 4173 to 5173
    reverse_proxy frontend:5173
}